<li class=" hover:text--900 
hover:bg-gray-100
hover:border hover:rounded-md" *ngFor="let item of items | searchFilterPipe:digitou" (click)="selecting(item)">
    <div class="flex p-2 mt-4 items-center gap-x-6">
        <img class=" h-14 w-12 rounded-full" [src]="item.urlFoto" alt="">
        <div>
            <h2 class="font-sans">{{item.nome}}</h2>
            <p class="text-sm font-semibold leading-6 text-indigo-600">
                {{item.siglaPartido}}/{{item.siglaUf}}</p>
        </div>
        <hr />
    </div>
</li>