<nav class="visible lg:invisible flex w-full mt-40">
    <ul class="text-left">
        <li class="list-inside ml-2 mb-6 w-12">
            <a href="#" class="flex justify-start"><img class="object-contain h-6 w-6"
                    src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt=""></a>
        </li>
        <li class="list-inside ml-2 mb-6 w-12">
            <a href="#" class="flex justify-start"><img class="object-contain h-6 w-6"
                    src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt=""></a>
        </li>
        <li class="list-inside ml-2 mb-6 w-12">
            <a href="#" class="flex justify-start"><img class="object-contain h-6 w-6"
                    src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt=""></a>
        </li>
        <li class="list-inside ml-2 mb-6 w-12">
            <a href="#" class="flex justify-start"><img class="object-contain h-6 w-6"
                    src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt=""></a>
        </li>
    </ul>
</nav>