<div class="flex flex-col m-6 animate-pulse" *ngIf="deputado">
    <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-4xl font-bold tracking-tight text-black sm:text-4xl">{{deputado.dados.nomeCivil}} -
            {{deputado.dados.ultimoStatus.nomeEleitoral}} </h2>
        <p class="mt-6 text-lg leading-8 text-gray-950">{{deputado.dados.ultimoStatus.descricaoStatus}}</p>
    </div>
    <div class="
    bg-scroll
    bg-contain
        h-80 
        bg-center
        
        
        overflow-y-auto" style="background-image: url({{deputado.dados.ultimoStatus.urlFoto}})">
        <div class="col-span-2">
        </div>
    </div>
</div>